.side-nav-background {
  background-color: #00102b;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.side-nav-background ul {
  border-top: 1px solid white;
}

.side-nav-background ul:nth-child(1) {
  border-top: 0 !important;
}

.side-nav-background ul:nth-child(2) {
  border-top: 0 !important;
  margin-top: 30px;
}

.side-nav-background ul:nth-child(3) {
  border-top: 0 !important;
  margin-top: 30px;
}

ul li {
  color: white;
  line-height:25px;
  list-style: none;
  margin-top: 15px;
}

.image-wrapper { padding: 10px; }

.material-icons {
  color: white;
  display: inline-flex;
  padding: 0 20px 0 0;
  vertical-align: top;
}

