<div class="side-nav-background">
  <div class="image-wrapper">
    <img src="../../../../assets/material/sendify-white-orange.svg">
  </div>
  <ul>
    <li><i class="material-icons">equalizer</i>Dashboard</li>
  </ul>
  <ul>
    <li><i class="material-icons">add_circle</i>New Shipment</li>
    <li><i class="material-icons">save_alt</i>Imports</li>
  </ul>
  <ul>
    <li><i class="material-icons">panorama_fish_eye</i>Drafts</li>
    <li><i class="material-icons">adjust</i>Booked</li>
    <li><i class="material-icons">timer</i>Picked Up</li>
    <li><i class="material-icons">check_circle_outline</i>Delivered</li>
  </ul>
  <ul>
    <li><i class="material-icons">library_books</i>Cost Control</li>
  </ul>
  <ul>
    <li><i class="material-icons">book</i>Address Book</li>
    <li><i class="material-icons">apps</i>Apps</li>
    <li><i class="material-icons">settings</i>Settings</li>
  </ul>
  <ul>
    <li><i class="material-icons">help_outline</i>Help Center</li>
    <li><i class="material-icons">subdirectory_arrow_left</i>Log Out</li>
  </ul>
</div>
